/* estilização para o footer da página index */
footer{
    margin-top: 10vh;
}

.none{
    margin-top: 1.5em;
}
/* estilização para o menu da página do curso  */
ul li.menu a {
    height: 3em;
    width: 100%;
}

.menulateral:hover {
    width: 280px;
    z-index: 6;
}

/* estilização para o texto ficar interativo com a abertura do menu */
.menulateral:hover~.all-conteudo {
    margin-left: 100px;
}

/* estilização para textos que não ficaram alinhados na esquerda */
.text-left{
    text-align: left;
}

/* estilização para ul que precisam de decoração */
.text-dec > li{
    list-style: disc;
}



/* CAIXA CURIOSIDADES */
.accordion #content .caixaprincipal#titulocuriosidade {
    background-color: #A042E5;
    /*cor da caixa principal curiosidade*/
    color: #fffffff6;
    /*cor da palavra na caixa principal*/
}

 #curiosidades {
    background-color:#c082ec94 ;
    /*cor da caixa secundaria curiosidade */
}
/* FIM DO ESTILO DA CAIXA CURIOSIDADES */

/* ESTILIZAÇÃO PARA OS ACCORDIONS (SEM ANIMAÇÃO) */
.accordion-body {
    background-color: rgb(240, 238, 238);
    border-top: none;
    display: flex;
    justify-content: center;
    padding-left: 30px;
    margin-left: 5px;
    border: none;
}

.accordion-button {
    background-color: #e5e7e7;
    --bs-accordion-active-bg: #10ac44;
    --bs-accordion-btn-icon-bg: var(--white);
}

.sem-borda{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* ESTILIZAÇÃO PARA O LINK EXTERNO PARA O BLOCO 02 DO SEGUNDO TÓPICO */
/* colocando um background green em um alert especifico */
#back-green{
   background-color: rgb(25, 135, 84);
}
.link-externo{
    text-decoration: none;
    color: white;
}

/* ESTILIZAÇÃO DA TABLE TH */
th{
    font-weight: lighter;
}


@media (max-width: 767px) {
    thead{
        display: none;
    } 

     td{
        display: block !important;
        gap: .5rem;
    }

    td::before{
        content: attr(data-th) ": ";
        font-weight: bold;
    }

    iframe{
        width: 100%;
    }
    
}

/* ESTILIZAÇÃO DO ALERT CINZA CLARO (SÉTIMO BLOCO DO TÓPICO 03) */
#alert-personalizado{
    background-color: #dddbdbda;
    border-color: #e7e5e5e5;
}

/* ESTILIZAÇÃO DO ALERT BRANCO */
#alert-branco{
    font-size: 0.5em;
}


/* DARK MODE DA PÁGINA DO CURSO (EVENTOS DIGITAIS) */
[data-theme="dark"] #obj > h3 {
   color: white;
}

[data-theme="dark"] .alert {
    background-color: #3be3e2;
    border: #3be3e2;
 }

 [data-theme="dark"] .text-dec {
   color: white;
 }

 [data-theme="dark"] #list-color li {
   color: black;
  }
 

  [data-theme="dark"] .sem-borda > p {
    color: black;
   }

   [data-theme="dark"] .accordion-body {
    background-color: #ccc;
   }

   /* FIM DA ESTILIZAÇÃO DO DARK MODE */

   /* ESTILIZAÇÃO PARA A PÁGINA DE REFERENCIAS */
   #ref-topico p{
    border: 2px solid red;
   }
   /* FIM DA ESTILIZAÇÃO PARA PÁGINA DE REFERENCIAS */



